:root{
    

    /* Background gradient */
    --bg-color-1: #9198e5;
    /* --bg-color-2: #E0900A; */
    --bg-color-2: rgb(255, 108, 0);
    /* Actual Palette */
    /* --color-1: rgb(114, 124, 226); */
    --color-1: #9198e5;
    /* --color-2: #E0900A; */
    --color-2: rgb(240, 114, 60);
    --color-2-accent: #9198e5;
    --color-3: #000;

    /* Texts and logos */
    --text-color-1: #000; /* 10% */

    --font-family-1: 'Rubik', 'Dongle', Helvetica, sans-serif;
    /* --font-family-2: 'Dongle', sans-serif;
    --font-family-3: 'Nunito', sans-serif; */
    --font-family-roofless: 'Noto Serif', serif;
    

    --shadow-1:
    -0.2px -0.2px 5.3px rgba(0, 0, 0, 0.202),
    4px 4px 17.9px rgba(0, 0, 0, 0.298),
    40px 40px 80px rgba(0, 0, 0, 0.5)
    ;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    /* background-color: var(--bg-color); */
    /* background: rgb(3,3,32); */
    background: 
	radial-gradient(circle at 50% 105%, var(--bg-color-2), var(--bg-color-1));
    /* linear-gradient(0deg, rgba(224,144,10,1), rgba(145,152,229,1)); */
    font-family: var(--font-family-1);
    overflow-x: hidden;
}



/* @media screen and (max-width: 500px) {
    body {
        background-image: radial-gradient(
            farthest-corner at 10px 10px,
            var(--color-2) 0%,
            var(--color-1) 100%
        );
    }
} */

#navbar {
    transition: 0.2s;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99;
}

#navbar .container {
    /* background-color: aqua; */
    display: flex;
    flex-direction: horizontal;
    align-items: center;
    justify-content: space-between;
}

#navbar #navbar-logo {
    width: 150px;
    transition: 0.2s;
}



#navbar a {
    float: right;
    color: black;
    text-align: center;
    padding-right: 20px;
    text-decoration: none;
    font-size: 32px; 
    font-weight: 300;
    transition: 0.2s;
}

@media screen and (max-width: 500px) {
    #navbar #navbar-logo {
        width: 96px;
    }

    #navbar a {
        padding-right: 10px;
    }

    
}

#section-1 {
    position: relative;
    margin-top: 150px;
    margin-bottom: 150px;
    min-height: 50vh;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}



#product-description {
    background-color: var(--color-1);
    width: 500px;
    padding: 3em;
    max-width: 100vw;
    flex-grow: 0;
    text-align: end;
    display: flex;
    flex-direction: column;
    align-items: end;
    border-radius: 87% 13% 88% 12% / 53% 40% 60% 47%;
    box-shadow:
        -0.2px -0.2px 5.3px var(--color-1),
        4px 4px 17.9px var(--color-1),
        40px 40px 80px var(--color-1);
    z-index: 10;
    color: var(--bg-color);
    margin-bottom: 150px;
}

#product-description h1 {
    font-weight: 700;
    font-size: 60px;
    margin: 0;
}

#product-description p {
    display: block;
    font-weight: 300;
    font-size: 25px;
}

#spline-animation {
    width: 1000px;
    max-width: 100vw;
    margin-bottom: 150px;
}

@media screen and (max-width: 500px) {

    #section-1 {
        margin-top: 100px;
        margin-bottom: 0;
    }

    #product-description {
        margin-bottom: 50px;
        align-items: center;
    }

    #product-description h1 {
        font-size: 80px;
    }


    #spline-animation {
        margin-bottom: 50px;
    }

}




#section-2 {
    position: relative;
    min-height: 75vh;
    max-width: 100vw;
    padding-top: 100px;
}

#gif-container {
    display: flex;
    align-items: start;
    justify-content: space-around;
    flex-wrap: wrap;
}

.inner-gif-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.spec {
    text-align: center;
    font-size: 25px;
    margin: 150px 0 150px;
}

.inner-gif-container .spec {
    width: 90%;
}

@media screen and (max-width: 500px) {
    #gif-container {
        min-height: 300vh;
    }
}

.gif-class, .gif-class-static {
    height: 400px;
    margin: 30px 5px;
}

.gif-class-static {
    position: absolute;
}

@media (hover: hover) {
    .gif-class-static:hover {
        opacity:0;
    }
}

@media (hover: none) {
    .gif-class-static {
        opacity:1;
        visibility: visible;
    }


    .gif-class-static {
        transition-delay: 0.35s;
    }

    .gif-class-static[style*="visible"] {
        transition-delay: 0s;
    }
}

#section-3 {
    position: relative;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 40px;
    padding-bottom: 100px;
    margin-bottom: 100px;
}

.form-container {
    background-color: var(--color-2);
    height: 500px;
    width: 700px;
    padding: 6em;
    max-width: 100vw;
    border-radius: 43% 57% 50% 50% / 39% 76% 24% 61% ;
    box-shadow:
        -0.2px -0.2px 5.3px var(--color-2),
        4px 4px 17.9px var(--color-2),
        40px 40px 80px var(--color-2);
}

.form-container .form-text {
    font-size: 35px;
    font-weight: 600;
    text-align: center;
}

.form-container form {
    padding: 30px;
    margin: 32px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.launchlist-form .input-container {
    width: 100%;
    margin: 20px 20px;
    position: relative;
    background-color: var(--color-1);
}

.input-container input {
    display: block;
    height: 100%;
    width: 100%;
    border: none;
    font-size: 17px;
    border-bottom: 2px solid rgba(0,0,0,0.12);
}

input:focus {
    outline: none;
}

.launchlist-form input {
    background-color: var(--color-2);
    font-family: var(--font-family-1);
}


.launchlist-form input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px var(--color-2) inset !important;
    -webkit-text-fill-color: black !important;
}

.input-container input:focus ~ label,
.input-container input:not(:placeholder-shown) ~ label {
    transform: translateY(-20px);
    color: var(--color-2-accent);
    font-size: 14px;
}

.input-container label {
    position: absolute;
    bottom: 10px;
    font-size: 16px;
    font-weight: 500;
    pointer-events: none;
    transition: all 0.2s ease;
}

.input-container .underline {
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 100%;
}

.input-container .underline:before,
.input-container .underline:after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background-color:  var(--color-2);
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.2s ease;
}

.input-container input:focus ~ .underline:before, .underline:after,
.input-container input:not(:placeholder-shown) ~ .underline:before, .underline:after {
    background-color: var(--color-1);
    transform: scaleX(1);
}

.submit-button {
    color: black;
    height: 50%;
    width: 50%;
    border-radius: 5px;
    transition: all 0.5s ease;
}

@media screen and (max-width: 500px) {
    .form-container .form-text {
        font-size: 25px;
        margin: 25px 25px 0;
    }

    /* .launchlist-form .input-container {
        margin: 20px 20px 50px 20px;
    } */

    .submit-button {
        min-height: 44px;
    }
}

.submit-button:disabled {
    background-color: var(--color-2-accent);
    opacity: 0.5;
}

.submit-button:enabled {
    background-color: var(--color-2-accent);
    box-shadow:
        0px 5.2px 33.3px var(--color-2-accent);
}

.submit-button:enabled:hover {
    cursor: pointer;
}

footer {
    padding: 50px 25px 0 25px;
    margin: 0 50px;
    display: flex;
    flex-direction: column;
    border-top: 2px solid rgba(0,0,0,0.12);
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-logo-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

#by-roofless {
    font-family: var(--font-family-roofless);
    font-style: italic;
    margin-top: 1em;
}

.footer-logo-container img {
    height: 100px;
}

footer a, footer p {
    color: black;
    text-decoration: none;
    display: block;
    margin: 4px 0;
}

small {
    text-align: center;
    margin-top: 50px;
}

@media screen and (max-width: 500px) {

    footer {
        padding-right: 0;
        padding-left: 0;
    }

    .footer-container {
        flex-direction: row-reverse;
        align-items: start;
    }

    .footer-logo-container {
        align-items: center;
    }

    .footer-logo-container img {
        padding-top: 10px;
        height: 35px;
    }

    #by-roofless {
        font-size: 10px;
    }

    footer a, footer p {
        margin: 10px 0;
        font-size: larger;
    }

    small {
        margin-top: 150px;
    }
}